body {
    background-color: blue;
    color: #eee;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background-color: #1c1c1c;
    border: none;
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.card h4 {
    font-weight: 600;
}